name: Waka Readme

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SECTION_NAME: waka
          SHOW_LANGUAGE: true
          SHOW_TOTAL_CODE_TIME: false
          SHOW_PROJECTS: false
          SHOW_EDITORS: true
          SHOW_OS: false
          SHOW_COMMIT: true
          SHOW_UPDATED_DATE: false
